@import url(https://fonts.google.com/share?selection.family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700|Roboto:ital,wght@0,100..900;1,100..900|Rock+Salt);
*{
    margin: 0;
    box-sizing: border-box;
}
h1, h2{
    font-family: "Rock Salt", "Roboto", sans-serif;
    font-weight: 200;
}
header{
    text-align: center;
    background-color: blue;
}
header h1{
    padding: 40px;
}
nav a{
    text-decoration: none;
    font-family: sans-serif, Arial, Helvetica;
    padding: 10px;
    font-size: 1.2rem;
    color: #fff;
    margin: auto;
}
p{
    font-size: 1.2rem;
    font-family: sans-serif, Arial, Helvetica;

}
ul{
    list-style-type: disc;
    text-align: left;
    padding: 50px;
}
li{
    line-height: 2rem;
}
nav{
    background-color: rgb(43, 41, 41);
    display: flex;
    text-align: center;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    flex-wrap: nowrap;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
main{
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    width: 95%;
    padding: 5%;
}
.card{
    border: 1px solid rgb(70, 65, 65);
    grid-column: 1 / 4;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 10px 20px rgb(218, 43, 43);
}
.card2{
    border: 1px solid rgb(70, 65, 65);
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgb(218, 43, 43);
    grid-column: 4 / 6;
    width: 70%;
    overflow: hidden;
    justify-self: center;
}
.card2 a{
    font-family: sans-serif, Arial, Helvetica;
    font-size: 1.2rem;
}

.card p, .card2 p{
    text-align: left;
    padding: 30px;
    line-height: 1.5rem;
}

section header{
    background-color: aqua;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    padding: 15px;
}
.profilepic{
    float: right;
    padding: 50px;
}
.line{
    background-color: rgb(107, 107, 107);
    justify-self: center;
    border-radius: 20px;
    height: 2px;
    width: 70%;
}
footer{
    width: 100%;
    background-color: rgb(37, 37, 32);
    text-align: center;
    margin: 0 auto;
    padding: 20px
}