@import url(https://fonts.google.com/share?selection.family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700|Roboto:ital,wght@0,100..900;1,100..900|Rock+Salt);
*{
    margin: 0;
    box-sizing: border-box;
}
h1, h2, h3{
    font-family: "Rock Salt", "Roboto", sans-serif;
    color: #fff;
    font-weight: 600;
}
header{
    text-align: center;
    background-color: #02020a;
}
header h1{
    padding: 40px 20px;
    margin: 0 auto;
    color: #fff;

}
 nav a:hover{
    background-color: #0963ff;
}
nav a{
    text-decoration: none;
    font-family: sans-serif, Arial, Helvetica;
    padding: 10px;
    gap: 500px;
    font-size: 1rem;
    color: #fff;
    margin: auto;
    border-radius: 15px;
    border: 1.5px solid #7eaeff;
    
}
p{
    font-size: 0.9rem;
    font-family: sans-serif, Arial, Helvetica;
    line-height: 1.5rem;
    color: #fff;
}

ul{
    text-align: left;
    padding: 30px 50px;
}
li{
    line-height: 2rem;
}
nav{
    display: flex;
    text-align: center;
    padding: 20px;
    flex-wrap: nowrap;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
main{
    justify-self: center;
    display: grid;
    grid-template-columns: auto 30%;
    text-align: center;
    width: 100%;
    padding: 10px;
}
.card{
    border: 1px solid rgb(70, 65, 65);
    border-radius: 20px;
    background-color: #191933;
    overflow: hidden;
    width: 97%;
    margin: 0 auto;
    justify-self: center;
    box-shadow: 5px 10px 10px 0 rgb(70, 67, 67);
}

.card a{
    font-family: sans-serif, Arial, Helvetica;
    color: #fff;
    font-size: 0.9rem;
}

.card p{
    text-align: left;
    padding: 30px;
}

section h2{
    background-color: #02020a;
    color: #fff;
    font-size: 1.5em;
    overflow: hidden;
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
}

section h3{
    border-bottom: #02020a solid 0.2rem;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 0.5rem;
}

.profilepic{
    float: right;
    padding: 20px;
    max-height: 35%;
    max-width: 200px;
    min-width: 100px;
    width: 30%;
}
.NigerianFlag{
    float: left;
    padding: 1rem;
    min-height: 80px;
    max-width: 35%;
    min-width: 50%;
    width: 30%;
}

footer{
    width: 100%;
    background-color: #02020a;
    text-align: center;
    margin: 0 auto;
    padding: 20px
}


@media screen and (max-width: 991px) {
    li a{
        line-height: 1rem;
        font-size: 1rem;    
    }
    
    ul{
        padding: 50px 1rem 50px 25px;
    }
}